/app_autorace/__pycache__/
/app_ckeiba/__pycache__/
/app_sumo/__pycache__/
/nginx/log/
/prj_sports/__pycache__/
/prj_sports/uwsgi.log
/app_autorace/migrations/
/app_ckeiba/migrations/
/app_sumo/migrations/
/app_sumo/templatetags/__pycache__/
/app_autorace/__pycache__/
/app_autorace/management/__pycache__/
/app_autorace/management/commands/__pycache__/
/app_autorace/logs/
/app_ckeiba/logs/

