<div class="form-inline">
    <div class="receive-date ">
        最新受信日時：2020/12/31 12:00:00
    </div>
    <div class="receive-honjitsu-sikou-table">
        <table class="table table-sm table-bordered jou-newsml_table">
            <tbody>
                <tr>
                    <td class="table-dark">本日施行情報</td>
                    <td>○</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="race-newsml">
    <table class="table table-sm table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">1R</th>
                <th scope="col">2R</th>
                <th scope="col">3R</th>
                <th scope="col">4R</th>
                <th scope="col">5R</th>
                <th scope="col">6R</th>
                <th scope="col">7R</th>
                <th scope="col">8R</th>
                <th scope="col">9R</th>
                <th scope="col">10R</th>
                <th scope="col">11R</th>
                <th scope="col">12R</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>新出走表</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
            </tr>
            <tr>
                <td>成績</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
            </tr>
            <tr>
                <td>払戻</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
            </tr>
            <tr>
                <td>コーナー</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
            </tr>
            <tr>
                <td>ハロンT</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
            </tr>
            <tr>
                <td>3ハロン</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
            </tr>
            <tr>
                <td>付加文書</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
                <td>○</td>
            </tr>
        </tbody>
    </table>
</div>