<div class="container-fluid row container-area">

    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding jouimg_banei">
                    帯広ばんえい
                </div>
                {% block edit-title1 %}
                {% include 'app_ckeiba/edit/edit-title.html' %}
                {% endblock %}
            </div>
            {% block edit-contents1 %}
            {% include 'app_ckeiba/edit/edit-contents.html' %}
            {% endblock %}
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding jouimg_monbetsu">
                    門別競馬
                </div>
                {% block edit-title2 %}
                {% include 'app_ckeiba/edit/edit-title.html' %}
                {% endblock %}
            </div>
            {% block edit-contents2 %}
            {% include 'app_ckeiba/edit/edit-contents.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding jouimg_iwate">
                    岩手競馬
                </div>
                {% block edit-title3 %}
                {% include 'app_ckeiba/edit/edit-title.html' %}
                {% endblock %}
            </div>
            {% block edit-contents3 %}
            {% include 'app_ckeiba/edit/edit-contents.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding jouimg_tck">
                    大井競馬
                </div>
                {% block edit-title4 %}
                {% include 'app_ckeiba/edit/edit-title.html' %}
                {% endblock %}
            </div>
            {% block edit-contents4 %}
            {% include 'app_ckeiba/edit/edit-contents.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding jouimg_nagoya">
                    名古屋競馬
                </div>
                {% block edit-title5 %}
                {% include 'app_ckeiba/edit/edit-title.html' %}
                {% endblock %}
            </div>
            {% block edit-contents5 %}
            {% include 'app_ckeiba/edit/edit-contents.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding jouimg_kochi">
                    高知競馬
                </div>
                {% block edit-title6 %}
                {% include 'app_ckeiba/edit/edit-title.html' %}
                {% endblock %}
            </div>
            {% block edit-contents6 %}
            {% include 'app_ckeiba/edit/edit-contents.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding jouimg_funabashi">
                    船橋競馬
                </div>
                {% block edit-title7 %}
                {% include 'app_ckeiba/edit/edit-title.html' %}
                {% endblock %}
            </div>
            {% block edit-contents7 %}
            {% include 'app_ckeiba/edit/edit-contents.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding jouimg_kawasaki">
                    川崎競馬
                </div>
                {% block edit-title8 %}
                {% include 'app_ckeiba/edit/edit-title.html' %}
                {% endblock %}
            </div>
            {% block edit-contents8 %}
            {% include 'app_ckeiba/edit/edit-contents.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding jouimg_sonoda">
                    園田競馬
                </div>
                {% block edit-title9 %}
                {% include 'app_ckeiba/edit/edit-title.html' %}
                {% endblock %}
            </div>
            {% block edit-contents9 %}
            {% include 'app_ckeiba/edit/edit-contents.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding jouimg_kasamatsu">
                    笠松競馬
                </div>
                {% block edit-title10 %}
                {% include 'app_ckeiba/edit/edit-title.html' %}
                {% endblock %}
            </div>
            {% block edit-contents10 %}
            {% include 'app_ckeiba/edit/edit-contents.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding jouimg_kanazawa">
                    金沢競馬
                </div>
                {% block edit-title11 %}
                {% include 'app_ckeiba/edit/edit-title.html' %}
                {% endblock %}
            </div>
            {% block edit-contents11 %}
            {% include 'app_ckeiba/edit/edit-contents.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding jouimg_urawa">
                    浦和競馬
                </div>
                {% block edit-title12 %}
                {% include 'app_ckeiba/edit/edit-title.html' %}
                {% endblock %}
            </div>
            {% block edit-contents12 %}
            {% include 'app_ckeiba/edit/edit-contents.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding jouimg_saga">
                    佐賀競馬
                </div>
                {% block edit-title13 %}
                {% include 'app_ckeiba/edit/edit-title.html' %}
                {% endblock %}
            </div>
            {% block edit-contents13 %}
            {% include 'app_ckeiba/edit/edit-contents.html' %}
            {% endblock %}
        </div>
    </div>
</div>