<div class="container-fluid row container-area">

    {% for edit_data in data.edit %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding {{ edit_data.img }}">
                    {{ edit_data.jou }}
                </div>
                <div class="col-5 reset_padding">
                    <div class="container-fluid row reset_padding reset_margin">
                        <div class="col-6 jou-newsml">
                            <table class="table table-sm table-bordered jou-newsml_table">
                                <tbody>
                                    <tr>
                                        <td class="table-dark nyujo-jinin">入場人員</td>

                                        {% if edit_data.nyujo == '○' %}
                                        <td class="maru-img td_value">
                                            <a
                                                href="{% url 'app_ckeiba:nyujo' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=0 %}">
                                                <div class="edit_push"></div>
                                            </a>
                                        </td>
                                        {% elif edit_data.nyujo == '△' %}
                                        <td class="sankaku-img td_value"></td>
                                        {% elif edit_data.nyujo == '◎' %}
                                        <td class="niju-maru-img td_value">
                                            <a
                                                href="{% url 'app_ckeiba:nyujo' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=0 %}">
                                                <div class="edit_push"></div>
                                            </a>
                                        </td>
                                        {% elif edit_data.nyujo == '●' %}
                                        <td class="kuromaru-img td_value">
                                            <a
                                                href="{% url 'app_ckeiba:nyujo' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=0 %}">
                                                <div class="edit_push"></div>
                                            </a>
                                        </td>
                                        {% elif edit_data.nyujo == '◉' %}
                                        <td class="nakaguro-maru-img td_value">
                                            <a
                                                href="{% url 'app_ckeiba:nyujo' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=0 %}">
                                                <div class="edit_push"></div>
                                            </a>
                                        </td>
                                        {% elif edit_data.nyujo == '-' %}
                                        <td class="uma-img td_value"></td>
                                        {% else %}
                                        <td class="td_value">
                                            <div class="non_push">{{ edit_data.nyujo }}</div>
                                        </td>
                                        {% endif %}

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6 jou-newsml">
                            <table class="table table-sm table-bordered jou-newsml_table">
                                <tbody>
                                    <tr>
                                        <td class="table-dark">売上金</td>

                                        {% if edit_data.nyujo == '○' %}
                                        <td class="maru-img td_value">
                                            <a
                                                href="{% url 'app_ckeiba:uriage' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=0 %}">
                                                <div class="edit_push"></div>
                                            </a>
                                        </td>
                                        {% elif edit_data.uriage == '△' %}
                                        <td class="sankaku-img td_value"></td>
                                        {% elif edit_data.uriage == '◎' %}
                                        <td class="niju-maru-img td_value">
                                            <a
                                                href="{% url 'app_ckeiba:uriage' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=0 %}">
                                                <div class="edit_push"></div>
                                            </a>
                                        </td>
                                        {% elif edit_data.uriage == '●' %}
                                        <td class="kuromaru-img td_value">
                                            <a
                                                href="{% url 'app_ckeiba:uriage' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=0 %}">
                                                <div class="edit_push"></div>
                                            </a>
                                        </td>
                                        {% elif edit_data.uriage == '◉' %}
                                        <td class="nakaguro-maru-img td_value">
                                            <a
                                                href="{% url 'app_ckeiba:uriage' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=0 %}">
                                                <div class="edit_push"></div>
                                            </a>
                                        </td>
                                        {% elif edit_data.uriage == '-' %}
                                        <td class="uma-img td_value"></td>
                                        {% else %}
                                        <td class="td_value">
                                            <div class="non_push">{{ edit_data.uriage }}</div>
                                        </td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="race-newsml">
                <table class="table table-sm table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">1R</th>
                            <th scope="col">2R</th>
                            <th scope="col">3R</th>
                            <th scope="col">4R</th>
                            <th scope="col">5R</th>
                            <th scope="col">6R</th>
                            <th scope="col">7R</th>
                            <th scope="col">8R</th>
                            <th scope="col">9R</th>
                            <th scope="col" class="th_10R-12R">10R</th>
                            <th scope="col" class="th_10R-12R">11R</th>
                            <th scope="col" class="th_10R-12R">12R</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>出走表</td>

                            {% for shussou in edit_data.shussou %}

                            {% if shussou == '○' %}
                            <td class="maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:shussouhyou' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif shussou == '△' %}
                            <td class="sankaku-img td_value"></td>
                            {% elif shussou == '◎' %}
                            <td class="niju-maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:shussouhyou' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif shussou == '●' %}
                            <td class="kuromaru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:shussouhyou' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif shussou == '◉' %}
                            <td class="nakaguro-maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:shussouhyou' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif shussou == '-' %}
                            <td class="uma-img td_value"></td>
                            {% else %}
                            <td class="td_value">
                                <div class="non_push">{{ shussou }}</div>
                            </td>
                            {% endif %}

                            {% endfor %}
                        </tr>
                        <tr>
                            <td>成績</td>

                            {% for seiseki in edit_data.seiseki %}

                            {% if seiseki == '○' %}
                            <td class="maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:seiseki' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif seiseki == '△' %}
                            <td class="sankaku-img td_value"></td>
                            {% elif seiseki == '◎' %}
                            <td class="niju-maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:seiseki' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif seiseki == '●' %}
                            <td class="kuromaru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:seiseki' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a></td>
                            {% elif seiseki == '◉' %}
                            <td class="nakaguro-maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:seiseki' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a></td>
                            {% elif seiseki == '-' %}
                            <td class="uma-img td_value"></td>
                            {% else %}
                            <td class="td_value">
                                <div class="non_push">{{ seiseki }}</div>
                            </td>
                            {% endif %}

                            {% endfor %}
                        </tr>
                        <tr>
                            <td>コーナー</td>
                            {% for corner in edit_data.corner %}

                            {% if corner == '○' %}
                            <td class="maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:corner_rap' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif corner == '△' %}
                            <td class="sankaku-img td_value"></td>
                            {% elif corner == '◎' %}
                            <td class="niju-maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:corner_rap' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif corner == '●' %}
                            <td class="kuromaru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:corner_rap' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif corner == '◉' %}
                            <td class="nakaguro-maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:corner_rap' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif corner == '-' %}
                            <td class="uma-img td_value"></td>
                            {% else %}
                            <td class="td_value">
                                <div class="non_push">{{ corner }}</div>
                            </td>
                            {% endif %}

                            {% endfor %}
                        </tr>
                        <tr>
                            <td>上がり</td>
                            {% for agari in edit_data.agari %}

                            {% if agari == '○' %}
                            <td class="maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:agari' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif agari == '△' %}
                            <td class="sankaku-img td_value"></td>
                            {% elif agari == '◎' %}
                            <td class="niju-maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:agari' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif agari == '●' %}
                            <td class="kuromaru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:agari' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif agari == '◉' %}
                            <td class="nakaguro-maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:agari' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif agari == '-' %}
                            <td class="uma-img td_value"></td>
                            {% else %}
                            <td class="td_value">
                                <div class="non_push">{{ agari }}</div>
                            </td>
                            {% endif %}

                            {% endfor %}
                        </tr>
                        <tr>
                            <td>通信文</td>

                            {% for tsusin in edit_data.tsusin %}

                            {% if tsusin == '○' %}
                            <td class="maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:tushinbun' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif tsusin == '△' %}
                            <td class="sankaku-img td_value"></td>
                            {% elif tsusin == '◎' %}
                            <td class="niju-maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:tushinbun' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif tsusin == '●' %}
                            <td class="kuromaru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:tushinbun' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif tsusin == '◉' %}
                            <td class="nakaguro-maru-img td_value">
                                <a
                                    href="{% url 'app_ckeiba:tushinbun' year=data.meta.year month=data.meta.month day=data.meta.day joucode=edit_data.jou_code race=forloop.counter %}">
                                    <div class="edit_push"></div>
                                </a>
                            </td>
                            {% elif tsusin == '-' %}
                            <td class="uma-img td_value"></td>
                            {% else %}
                            <td class="td_value">
                                <div class="non_push">{{ tsusin }}</div>
                            </td>
                            {% endif %}

                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}

</div>