{% extends 'app_ckeiba/base.html' %}

{% block content %}

<!-- スクリプトは後日STATICに移動させる -->
<script>
    function stdisp(stno){
        if(stno == 01){
            document.getElementById("status02").disabled = true;
            document.getElementById("status03").disabled = false;
            document.getElementById("status04").disabled = true;
            document.getElementById("status05").disabled = false;
            document.getElementById("status06").disabled = true;
          } 
          else {
            document.getElementById("status03").disabled = false;
            document.getElementById("status05").disabled = false;
          }
    }
</script>    
<div class="container-fluid">
    <div class="page-header text-center">
        <h2>地方競馬メインメニュー</h2>
    </div>    
    <div class="container">
        <br/>
        <div class="caption_box">
            <h1 class="caption">起動メニュー</h1>
            <button type="button" id="status01" class="btn btn-primary btn-lg btn-block" onClick="stdisp(01);">通常業務開始</button>
            <button type="button" id="status02" class="btn btn-primary btn-lg btn-block" onClick="stdisp(02);">継続業務開始</button>
            <button type="button" id="status03" class="btn btn-dark btn-lg btn-block" onClick="stdisp(03);">業務休止</button>
            <button type="button" id="status04" class="btn btn-primary btn-lg btn-block" onClick="stdisp(04);">休止解除</button>
            <button type="button" id="status05" class="btn btn-dark btn-lg btn-block" onClick="stdisp(05);">業務終了</button>
        </div>
        <br/>
        <div class="caption_box">
            <h1 class="caption">画面メニュー</h1>
            <button type="button" class="btn btn-primary btn-lg btn-block">受信画面</button>
            <button type="button" class="btn btn-primary btn-lg btn-block">編集画面</button>
            <button type="button" class="btn btn-primary btn-lg btn-block">送信画面</button>
            <button type="button" id="status06" class="btn btn-primary btn-lg btn-block">マスタ画面</button>
        </div>
    </div>
</div>

{% endblock %}