<nav class="navbar fixed-top">
    <div class="container">
        <div class="text-center nav-title nav-title-img">
            <h2>地方競馬システム
                <span class="badge badge-warning nav-badge">保守系</span></h2>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-start">
                <div class="col-6">
                    <div class="form-inline">
                        <h6>業務状況 :　</h6>
                        <h3><span class="badge badge-primary badge-pill nav-badge-state" data-toggle="modal"
                                data-target="#modal-select_gyomu">通常業務開始中</span></h3>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-inline nav-unyobi" data-toggle="modal" data-target="#modal-unyobi">
                        <h6>運用日 :　</h6>
                        <h3><span class="badge badge-dark">２０２０/１２/３１</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- モーダルの設定 -->
<!-- 業務指示選択モーダル -->
<div class="modal fade" id="modal-select_gyomu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">業務起動指示選択</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="btn-group--vertical btn-group-toggle" data-toggle="buttons">
                    <div>
                        <label class="btn btn-outline-primary radio_gyomu disabled">
                            <input type="radio" name="radio_gyomu" id="radio_gyomu1" autocomplete="off" disabled>通常業務開始
                        </label>
                        <label class="btn btn-outline-primary radio_gyomu disabled">
                            <input type="radio" name="radio_gyomu" id="radio_gyomu2" autocomplete="off" disabled>継続業務開始
                        </label>

                        <label class="btn btn-outline-primary radio_gyomu">
                            <input type="radio" name="radio_gyomu" id="radio_gyomu3" autocomplete="off">業務休止
                        </label>
                        <label class="btn btn-outline-primary radio_gyomu disabled">
                            <input type="radio" name="radio_gyomu" id="radio_gyomu4" autocomplete="off" disabled>休止解除
                        </label>
                        <p></p>
                        <label class="btn btn-outline-primary btn-block">
                            <input type="radio" name="radio_gyomu" id="radio_gyomu5" autocomplete="off">終了
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg">実行</button>
                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">閉じる</button>
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 運用日設定モーダル -->
<div class="modal fade" id="modal-unyobi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">運用日設定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                運用日を変更・設定できる画面</br>
                カレンダー的なものを表示する
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg">変更</button>
                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">閉じる</button>
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->