<nav class="navbar fixed-top">
    <div class="container">
        <div class="text-center nav-title nav-title-img">
            <h2>地方競馬システム
                <span class="badge badge-warning nav-badge-hoshu">保守系</span>
            </h2>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-start">
                <div class="col-6">
                    <div class="form-inline">
                        <h6 class="nav-text">業務状況 :　</h6>
                        {% if status == 'オンライン' %}
                        <h3><span class="badge badge-primary badge-pill nav-badge-state" data-toggle="modal"
                                data-target="#modal-select_gyomu">オンライン</span></h3>
                        {% elif status == '日時処理中' %}
                        <h3><span class="badge badge-warning badge-pill nav-badge-state" data-toggle="modal"
                                data-target="#modal-select_gyomu">日時処理中</span></h3>
                        {% elif status == 'オフライン' %}
                        <h3><span class="badge badge-secondary badge-pill nav-badge-state" data-toggle="modal"
                                data-target="#modal-select_gyomu">オフライン</span></h3>
                        {% else %}
                        <h3><span class="badge badge-warning badge-pill nav-badge-state" data-toggle="modal"
                                data-target="#modal-select_gyomu">マスタ編集中</span></h3>
                        {% endif %}

                    </div>
                </div>
                <div class="col-6">
                    <div class="form-inline nav-unyobi" data-toggle="modal" data-target="#modal-unyobi">

                        <h6 class="nav-text">運用日 :　</h6>
                        <h3><span class="badge badge-dark">{{ unyobi }}</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- モーダルの設定 -->
<!-- 業務指示選択モーダル -->
<div class="modal fade" id="modal-select_gyomu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">業務起動指示選択</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if status == 'オンライン' %}
            <div class="modal-body">
                <h5>業務状態を<span class="badge badge-warning badge-pill">マスタ編集中</span>に変更します。</h5>
                <h5>よろしいですか？</h5>
                <h5>（通常業務は休止されます）</h5>
            </div>
            <div class="modal-footer">
                <!-- URLでシステム状態を0→1にDBを直接操作してから、リダイレクトする。 -->
                <a href="Change_To_Master_Edit_Mode" type="button" class="btn btn-danger btn-lg">実行</a>
                <!-- ここまで -->
                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">閉じる</button>
            </div><!-- /.modal-footer -->
            {% else %}
            <div class="modal-body">
                <h5>業務状態を<span class="badge badge-primary badge-pill">オンライン</span>に変更します。</h5>
                <h5>よろしいですか？</h5>
            </div>
            <div class="modal-footer">
                <!-- URLでシステム状態を1→0にDBを直接操作してから、リダイレクトする。 -->
                <a href="Change_To_Nomal_Mode" type="button" class="btn btn-danger btn-lg">実行</a>
                <!-- ここまで -->
                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">閉じる</button>
            </div><!-- /.modal-footer -->
            {% endif %}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 運用日設定モーダル -->
<div class="modal fade" id="modal-unyobi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">運用日設定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                運用日を変更・設定できる画面</br>
                カレンダー的なものを表示する
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg">変更</button>
                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">閉じる</button>
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->