<div class="container-fluid row container-area">
    {% for receive_data in data.receive %}

    <div class="col-12 col-md-6 col-lg-4 col-xl-4 ">
        <div class="caption_box jou-container">
            <div class="container-fluid row jou-title">
                <div class="jou col-7 reset_padding {{ receive_data.img }}">
                    {{ receive_data.jou }}
                </div>
                <div class="col-5 reset_padding">
                    <div class="container-fluid row reset_padding reset_margin">
                        <div class="col-6 jou-newsml">
                            <table class="table table-sm table-bordered jou-newsml_table">
                                <tbody>
                                    <tr>
                                        <td class="table-dark nyujo-jinin">開催日割</td>
                                        {% if receive_data.hiwari == '○' %}
                                        <td class="maru-img td_value"></td>
                                        {% elif receive_data.hiwari == '△' %}
                                        <td class="sankaku-img td_value"></td>
                                        {% elif receive_data.hiwari == '◎' %}
                                        <td class="niju-maru-img td_value"></td>
                                        {% elif receive_data.hiwari == '●' %}
                                        <td class="kuromaru-img td_value"></td>
                                        {% elif receive_data.hiwari == '◉' %}
                                        <td class="nakaguro-maru-img td_value"></td>
                                        {% elif receive_data.hiwari == '-' %}
                                        <td class="uma-img td_value"></td>
                                        {% else %}
                                        <td>{{ receive_data.hiwari }}</td>
                                        {% endif %}

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6 jou-newsml">
                            <table class="table table-sm table-bordered jou-newsml_table">
                                <tbody>
                                    <tr>
                                        <td class="table-dark nyujo-jinin">入場人員</td>
                                        {% if receive_data.nyujo == '○' %}
                                        <td class="maru-img td_value"></td>
                                        {% elif receive_data.nyujo == '△' %}
                                        <td class="sankaku-img td_value"></td>
                                        {% elif receive_data.nyujo == '◎' %}
                                        <td class="niju-maru-img td_value"></td>
                                        {% elif receive_data.nyujo == '●' %}
                                        <td class="kuromaru-img td_value"></td>
                                        {% elif receive_data.nyujo == '◉' %}
                                        <td class="nakaguro-maru-img td_value"></td>
                                        {% elif receive_data.nyujo == '-' %}
                                        <td class="uma-img td_value"></td>
                                        {% else %}
                                        <td>{{ receive_data.nyujo }}</td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <div class="receive-date ">
                    最新受信日時：{{ receive_data.date }}
                </div>
                <div class="receive-honjitsu-sikou-table">
                    <table class="table table-sm table-bordered jou-newsml_table">
                        <tbody>
                            <tr>
                                <td class="table-dark">本日施行情報</td>
                                {% if receive_data.shiko == '○' %}
                                <td class="maru-img td_value"></td>
                                {% elif receive_data.shiko == '△' %}
                                <td class="sankaku-img td_value"></td>
                                {% elif receive_data.shiko == '◎' %}
                                <td class="niju-maru-img td_value"></td>
                                {% elif receive_data.shiko == '●' %}
                                <td class="kuromaru-img td_value"></td>
                                {% elif receive_data.shiko == '◉' %}
                                <td class="nakaguro-maru-img td_value"></td>
                                {% elif receive_data.shiko == '-' %}
                                <td class="uma-img td_value"></td>
                                {% else %}
                                <td>{{ receive_data.shiko }}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="race-newsml">
                <table class="table table-sm table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">1R</th>
                            <th scope="col">2R</th>
                            <th scope="col">3R</th>
                            <th scope="col">4R</th>
                            <th scope="col">5R</th>
                            <th scope="col">6R</th>
                            <th scope="col">7R</th>
                            <th scope="col">8R</th>
                            <th scope="col">9R</th>
                            <th scope="col" class="th_10R-12R">10R</th>
                            <th scope="col" class="th_10R-12R">11R</th>
                            <th scope="col" class="th_10R-12R">12R</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>出走表</td>
                            {% for shussou in receive_data.shussou %}
                            {% if shussou == '○' %}
                            <td class="maru-img td_value"></td>
                            {% elif shussou == '△' %}
                            <td class="sankaku-img td_value"></td>
                            {% elif shussou == '◎' %}
                            <td class="niju-maru-img td_value"></td>
                            {% elif shussou == '●' %}
                            <td class="kuromaru-img td_value"></td>
                            {% elif shussou == '◉' %}
                            <td class="nakaguro-maru-img td_value"></td>
                            {% elif shussou == '-' %}
                            <td class="uma-img td_value"></td>
                            {% else %}
                            <td>{{ shussou }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>成績表C</td>
                            {% for seiseki in receive_data.seiseki %}
                            {% if seiseki == '○' %}
                            <td class="maru-img td_value"></td>
                            {% elif seiseki == '△' %}
                            <td class="sankaku-img td_value"></td>
                            {% elif seiseki == '◎' %}
                            <td class="niju-maru-img td_value"></td>
                            {% elif seiseki == '●' %}
                            <td class="kuromaru-img td_value"></td>
                            {% elif seiseki == '◉' %}
                            <td class="nakaguro-maru-img td_value"></td>
                            {% elif seiseki == '-' %}
                            <td class="uma-img td_value"></td>
                            {% else %}
                            <td>{{ seiseki }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>払戻</td>
                            {% for haraimodoshi in receive_data.haraimodoshi %}
                            {% if haraimodoshi == '○' %}
                            <td class="maru-img td_value"></td>
                            {% elif haraimodoshi == '△' %}
                            <td class="sankaku-img td_value"></td>
                            {% elif haraimodoshi == '◎' %}
                            <td class="niju-maru-img td_value"></td>
                            {% elif haraimodoshi == '●' %}
                            <td class="kuromaru-img td_value"></td>
                            {% elif haraimodoshi == '◉' %}
                            <td class="nakaguro-maru-img td_value"></td>
                            {% elif haraimodoshi == '-' %}
                            <td class="uma-img td_value"></td>
                            {% else %}
                            <td>{{ haraimodoshi }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>コーナー</td>
                            {% for corner in receive_data.corner %}
                            {% if corner == '○' %}
                            <td class="maru-img td_value"></td>
                            {% elif corner == '△' %}
                            <td class="sankaku-img td_value"></td>
                            {% elif corner == '◎' %}
                            <td class="niju-maru-img td_value"></td>
                            {% elif corner == '●' %}
                            <td class="kuromaru-img td_value"></td>
                            {% elif corner == '◉' %}
                            <td class="nakaguro-maru-img td_value"></td>
                            {% elif corner == '-' %}
                            <td class="uma-img td_value"></td>
                            {% else %}
                            <td>{{ corner }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>ハロンT</td>
                            {% for furlongT in receive_data.furlongT %}
                            {% if furlongT == '○' %}
                            <td class="maru-img td_value"></td>
                            {% elif furlongT == '△' %}
                            <td class="sankaku-img td_value"></td>
                            {% elif furlongT == '◎' %}
                            <td class="niju-maru-img td_value"></td>
                            {% elif furlongT == '●' %}
                            <td class="kuromaru-img td_value"></td>
                            {% elif furlongT == '◉' %}
                            <td class="nakaguro-maru-img td_value"></td>
                            {% elif furlongT == '-' %}
                            <td class="uma-img td_value"></td>
                            {% else %}
                            <td>{{ furlongT }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>3ハロン</td>
                            {% for 3F in receive_data.3F %}
                            {% if 3F == '○' %}
                            <td class="maru-img td_value"></td>
                            {% elif 3F == '△' %}
                            <td class="sankaku-img td_value"></td>
                            {% elif 3F == '◎' %}
                            <td class="niju-maru-img td_value"></td>
                            {% elif 3F == '●' %}
                            <td class="kuromaru-img td_value"></td>
                            {% elif 3F == '◉' %}
                            <td class="nakaguro-maru-img td_value"></td>
                            {% elif 3F == '-' %}
                            <td class="uma-img td_value"></td>
                            {% else %}
                            <td>{{ 3F }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>付加文書</td>
                            {% for fukabunsho in receive_data.fukabunsho %}
                            {% if fukabunsho == '○' %}
                            <td class="maru-img td_value"></td>
                            {% elif fukabunsho == '△' %}
                            <td class="sankaku-img td_value"></td>
                            {% elif fukabunsho == '◎' %}
                            <td class="niju-maru-img td_value"></td>
                            {% elif fukabunsho == '●' %}
                            <td class="kuromaru-img td_value"></td>
                            {% elif fukabunsho == '◉' %}
                            <td class="nakaguro-maru-img td_value"></td>
                            {% elif fukabunsho == '-' %}
                            <td class="uma-img td_value"></td>
                            {% else %}
                            <td>{{ fukabunsho }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}

</div>