/* 以下の順番で記述してます。
１．ナビゲーションバー
２．モーダル
３．フッター
４．メインのコンテンツ部分
５．メイン画面の切替タブ部分
６．レスポンシブ対応
７．各競馬場の画像の表示設定
８．マスタ編集画面の表示設定 */


/* ＜スタイルの追加・編集の場合の鉄則三カ条＞
　その壱：基本的にclass指定で行うべし
　その弐：htmlやbootstrapで事前に用意されているクラスは基本いじらず、編集したい場合は新たにclassを作って上書きするべし
　その参：classを新規に作る場合、場所-詳細(nav-ttile とか)という名称規則に則り、どの部分を指しているかのわかりやすさを心がけるべし */


/* １．ナビゲーションバー */
/* 上書き */
.navbar{
    background-color: #f4eaff;
}
/* 上書き */
h6 {
    font-size: 1rem;
    font-weight: 700;
}

.nav-title{
    padding-left: 4em;
}

.nav-title-img{
    background: url('/static/app_ckeiba/pic/uma2.png');
    background-size: 12%;
    display: block;
    background-position: left;
    background-repeat: no-repeat;
}
.nav-text {
    padding-top: 3px;
}

/* 保守バッジ */
    .nav-badge-hoshu{
        margin-left: 2em;
    }
/* 業務状態バッジ */
    .nav-badge-state{
        cursor: pointer;
    }
/* 運用日バッジ */
    .nav-unyobi{
        float: right;
        cursor: pointer;
    }


/* ２．モーダル */
.radio_gyomu{
    width: 49%;
}
.modal-header{
    padding: 0.5rem 1rem;
}
.modal-footer{
    padding: 0.5rem 1rem;
}


/* ３．フッター */
.footer-button {
    background-color:rgb(255, 221, 25);
    color:black;
    font-size: 1em;
    font-weight: 600;
}
/* マスタ登録ボタン */
    .master-button{
        margin-left: 10px;
        margin-right: auto;
    }


/* ４．メインのコンテンツ部分 */
.maincontents{
    padding-top: 100px;
    padding-bottom: 45px;
}

.hanrei{
    margin-left: 15px;
    margin-right: auto;
    margin-top: 10px;
}

.log-button{
    margin-right: 34px;
    margin-left: auto;
    margin-top: 5px;
    font-size: 1em;
}

.opt_submit_button{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.1em;
}

/* 各場別コンテナ */
.caption_box{
    position: relative;
    margin-top: 0.5em;
    padding: 1em 0.5em;
    border: 2px solid rgba(85, 82, 82, 0.473);
    border-radius: 10px;
    background-color: white;
    min-width: 391px;
    }

.caption_box_error{
    border: 3px solid red;
}
.jou{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    font-family: inherit;
    }

.table{
    font-size: 0.7em;
    margin-bottom: 3px;
    text-align: center;
}
.race-newsml{
    font-weight: bold;
    min-width: 375px;
}

.reset_padding{
    padding-right: 0px;
    padding-left: 0px;
}
.reset_margin{
    margin-right: 0px;
    margin-left: 0px;
}

.jou-title{
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.jou-newsml{
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 5px;
}

.jou-newsml_table{
    min-width: 78px;
}

.container-area{
    padding-right: 0px;
}


.receive-date{
    font-size: 0.7em;
    padding-left: 10px;
}

.receive-honjitsu-sikou-table{
    margin-left: auto;
    margin-right: 10px;
}

.th_10R-12R{
    padding-right: 0.1rem !important; 
    padding-left: 0.1rem !important;
}


.nyujo-jinin{
    padding-left: 2px !important;
    padding-right: 2px !important;
}
/* テーブルの項目異常時のスタイル */
    .misakusei{
        background-color: red;
        color: white;
        border: solid 2px black;
    }
    .mikansei{
        background-color: yellow;
    }

/* 編集可能ボタン */
.edit_push{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 50%;
    border: outset 1px #b1b1b1;
    border-radius: 3px;
    border-top: 0px;
    border-left: 0px;
}

.submit_push{
    width: 100%;
    height: 100%;
    background-color: transparent;
}
/* ５．メイン画面の切替タブ部分 */
.menu-tab{
    margin-top: 10px;
    padding: 5px;
    width: 33.33%;
    border: 0px;
    font-size: 1.5em;
    text-decoration: none;
}
#nav-receive-tab{
    background-color: #8bc24c;
    border: 0px;
    color: white;
}

#nav-edit-tab{
    background-color: #f6d04d;
    border: 0px;
    color: white;
}
#nav-submit-tab{
    background-color: #f29c2b;
    border: 0px;
    color: white;
}
#nav-receive{
    background-color:  #8bc24c;
    padding-bottom: 15px;
}
#nav-edit{
    background-color: #f6d04d;
    padding-bottom: 15px;
}
#nav-submit{
    background-color: #f29c2b;
    padding-bottom: 15px;
}
#nav-tab{
    border-bottom: 0em;
}
.nav-tabs .nav-link {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}



/* ６．レスポンシブ対応 */

@media screen and (min-width: 1200px){
    /*　画面サイズが1200px以上の場合ここを読み込む　*/
    .container {
        max-width: 90%;
    }
}

@media screen and (min-width:992px) and ( max-width:1199px) {
    /*　画面サイズが992pxから1199pxまではここを読み込む　*/
    .jou{
        font-size: 1.2rem;
    }
    .jou-newsml_table {
        min-width: 61px;
        font-size: 0.5em;
    }
    .race-newsml{
        min-width: 308px;
        font-size: 0.7em;
    }
    .caption_box{
        min-width: 320px;
    }
}

@media screen and (min-width:768px) and ( max-width:811px) {
    /*　画面サイズが768pxから811pxまではここを読み込む　*/
    .jou{
        font-size: 1.2rem;
    }
    .jou-newsml_table {
        min-width: 61px;
        font-size: 0.5em;
    }
    .race-newsml{
        min-width: 305px;
        font-size: 0.7em;
    }
    .caption_box{
        min-width: 320px;
    }
}


@media screen and (min-width:420px) and ( max-width:767px) {
    /*　画面サイズが420pxから767pxまではここを読み込む　*/
    .maincontents{
        padding-top: 80px;
    }
    .nav-title{
        padding-left: 3em;
    }
    .hanrei{
        display: none;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 130%;
    }
    h6{
        font-size: 0em;
    }
    .menu-tab{
        font-size: 1em;
    }
    .footer-button {
        font-size: 0.7em;
    }

}

@media screen and ( max-width:419px) {
    /*　画面サイズが419px以下の場合はここを読み込む　*/
    .maincontents{
        padding-top: 75px;
    }
    .hanrei{
        display: none;
    }
    .nav-title{
        padding-left: 2.2em;
    }
    .jou{
        font-size: 1.2rem;
    }
    .jou-newsml_table {
        min-width: 61px;
        font-size: 0.5em;
    }
    .race-newsml{
        min-width: 308px;
        font-size: 0.7em;
    }
    .caption_box{
        min-width: 320px;
    }
    h2{
        font-size: 1.25rem;
    }
    h3{
        font-size: 110%;
    }
    h6{
        font-size: 0em;
    }
    .menu-tab{
        font-size: 1em;
    }
    .footer-button {
        font-size: 0.7em;
    }
}

@media screen and ( max-width:349px) {
    /*　画面サイズが349px以下の場合はさらにここを読み込む　*/
    .maincontents{
        padding-top: 67px;
    }
    h2{
        font-size: 1.1rem;
    }
    h3 {
        font-size: 95%;
    }
    .menu-tab{
        font-size: 0.8em;
    }
    .container-area{
        padding-right: 0px;
        padding-left: 0px;
    }
}

/* ↑で、320px(iphoneSE/5の縦)まで対応。319px以下は非対応（レイアウト崩れる）。 */


/* ７．各競馬場の画像の表示設定 */
.jouimg_banei{
    background: url('/static/app_ckeiba/pic/banei.jpg');
    background-size: 30%;
    display: block;
    background-position: right;
    background-repeat: no-repeat;
}
.jouimg_monbetsu{
    background: url('/static/app_ckeiba/pic/monbetsu.png');
    background-size: 45%;
    display: block;
    background-position: right;
    background-repeat: no-repeat;
}
.jouimg_iwate{
    background: url('/static/app_ckeiba/pic/iwate.png');
    background-size: 45%;
    display: block;
    background-position: right;
    background-repeat: no-repeat;
}
.jouimg_funabashi{
    background: url('/static/app_ckeiba/pic/funabashi.PNG');
    background-size: 40%;
    display: block;
    background-position: right;
    background-repeat: no-repeat;
}
.jouimg_kasamatsu{
    background: url('/static/app_ckeiba/pic/kasamatsu.PNG');
    background-size: 40%;
    display: block;
    background-position: right;
    background-repeat: no-repeat;
}
.jouimg_kawasaki{
    background: url('/static/app_ckeiba/pic/kawasaki.PNG');
    background-size: 45%;
    display: block;
    background-position: right;
    background-repeat: no-repeat;
}
.jouimg_kanazawa{
    background: url('/static/app_ckeiba/pic/kawazawa.PNG');
    background-size: 45%;
    display: block;
    background-position: right;
    background-repeat: no-repeat;
}
.jouimg_kochi{
    background: url('/static/app_ckeiba/pic/kochi.PNG');
    background-size: 45%;
    display: block;
    background-position: right;
    background-repeat: no-repeat;
}
.jouimg_nagoya{
    background: url('/static/app_ckeiba/pic/nagoya.PNG');
    background-size: 40%;
    display: block;
    background-position: right;
    background-repeat: no-repeat;
}
.jouimg_saga{
    background: url('/static/app_ckeiba/pic/saga.PNG');
    background-size: 45%;
    display: block;
    background-position: right;
    background-repeat: no-repeat;
}
.jouimg_sonoda{
    background: url('/static/app_ckeiba/pic/sonoda.PNG');
    background-size: 45%;
    display: block;
    background-position: right;
    background-repeat: no-repeat;
}
.jouimg_tck{
    background: url('/static/app_ckeiba/pic/tck.PNG');
    background-size: 45%;
    display: block;
    background-position: right;
    background-repeat: no-repeat;
}
.jouimg_urawa{
    background: url('/static/app_ckeiba/pic/urawa.PNG');
    background-size: 45%;
    display: block;
    background-position: right;
    background-repeat: no-repeat;
}



/* ８．マスタ編集画面の表示設定 */

.master_edit-contents{
    margin: 15px;
}

.master_edit-table{
    font-size: 0.7em;
    margin-bottom: 0px;
    text-align: center;
}

.master_select{
    font-size: 1rem;
}
.list-group-item{
    padding: 0.5rem 1.25rem;
}

.add_btn{
    margin-top: -6px;
    margin-bottom: -6px;
}


/* ９．オプション送信画面の表示設定 */

.option_submit-contents{
    background-color: #fcfa81;
    padding-top: 15px;
}

.option_submit-nav{
    padding-left: 15px;
}

.option_submit-title{
    font-size: 90%;
    background-color: #fff;
}

.submit_btn{
    float: right;

    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;

    padding: .25em .9em;
    font-size: 0.9em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25rem;
}

.sentaku_btn{
    margin-top: -40px;
    margin-right: 70px;
    color: #fff;
    background-color: #6c757d;
    font-size: 1.6em;
}

.submit_confirm_btn{
    color: #fff;
    background-color: #dc3545;
    font-size: 1.7em;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: -5px;
}

.clear_btn{
    color: #fff;
    background-color: #b4c6d6;
    font-size: 1.2em;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: -15px;
}

.custom_chkbox_span{
    margin: -4px -10px -4px -4px;
}

.custom-control-label::before{
    content: attr(alt);
    color: lightgray;
    font-size: 0.9em;
}

.custom-checkbox_red .custom-control-input:checked ~ .custom-control-label::before {
    background-color:red;
    border-color: transparent;
    content: "";
}
.custom-control-label::before {
    border-radius: 3px;
}

.custom-control-label::after{
    cursor: pointer;
}

.submit_confirm_box{
    position: relative;
    margin-top: 1em;
    margin-right: 2em;
    padding: 1em 0.5em;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 10px;
    background-color: white;
    }

.send_name{
    font-size: 0.9em;
}

.submit_edit{
    margin-left: 15px;
    margin-bottom: 10px;
}

.radio_submittype{
    margin-left: 20px;
}



.haishin-box{
    border: solid 0.5px #cacaca;
    padding-right: 0px;
    margin-bottom: auto;
    font-size: 0.8em;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.td_value {
    width:2.5em; 
    height:1rem;
}


.hanrei_value {
    width:2em; 
    height:1rem;
}
/* SVG画像 */

.maru-img{
    background: url('/static/app_ckeiba/pic/svg/panorama_fish_eye-black-18dp.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.nakaguro-maru-img{
    background: url('/static/app_ckeiba/pic/svg/radio_button_checked-black-18dp.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}


.kuromaru-img{
    background: url('/static/app_ckeiba/pic/svg/brightness_1-black-18dp.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}



.sankaku-img{
    background: url('/static/app_ckeiba/pic/svg/change_history-black-18dp.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.niju-maru-img{
    background: url('/static/app_ckeiba/pic/svg/double-circle.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.bike-img{
    background: url('/static/app_ckeiba/pic/svg/two_wheeler-black-18dp.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}


.umakao-img{
    background: url('/static/app_ckeiba/pic/svg/uma1.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.uma-img{
    background: url('/static/app_ckeiba/pic/svg/uma2.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.5;
}



.hourglass-img{
    background: url('/static/app_ckeiba/pic/svg/hourglass_empty-black-18dp.svg');
    background-size: 100%;
    width:15px; 
    height:15px;
}

.star-img{
    background: url('/static/app_ckeiba/pic/svg/star_border-black-18dp.svg');
    background-size: 100%;
    width:15px; 
    height:15px;
}
.starblack-img{
    background: url('/static/app_ckeiba/pic/svg/star-black-18dp.svg');
    background-size: 100%;
    width:15px; 
    height:15px;
}

.check-img{
    background: url('/static/app_ckeiba/pic/svg/done-black-18dp.svg');
    background-size: 100%;
    width:10px; 
    height:10px;
}
.check_circle-img{
    background: url('/static/app_ckeiba/pic/svg/check_circle_outline-black-18dp.svg');
    background-size: 100%;
    width:1rem; 
    height:1rem;
}


.arrow_drop_down-img{
    background: url('/static/app_ckeiba/pic/svg/arrow_drop_down-black-18dp.svg');
    background-size: 100%;
    width:10px; 
    height:10px;
}

