{% extends 'app_sumo/base.html' %}

{% block content %}

<div class="mainmenu">
    <div class="container-fluid row">
        <div class="col-12 gyomu-menu">
            <!--
            <div class="row justify-content-start menu-block">
                <button class="btn menubuttonbase menubutton2 btn-block" data-toggle="modal" data-target="#SUMUNYO01"><i
                        class="fas fa-laptop fa-fw"></i>業務運用選択</button>
            </div>
        -->
            <div class="caption_box container-fluid">
                <div class="row">
                    <h2 class="caption">業務運用メニュー</h2>
                    <div class="col-3">
                        <a href="SUMUDY01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>運用日付設定</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMJKH01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>状況表示</a>
                    </div>
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>ログ出力</a>
                    </div>
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <a href="SUMOUT02" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>配信・作成・印刷</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMOUT01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>コンテンツ出力</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMNEW01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>NewsML修正</a>
                    </div>
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <a href="SUMJOR01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>階級上位力士</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMTKD01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>付出処理</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMINT01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>場所・年度切替</a>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-outline-primary btn-lg btn-block" data-toggle="modal"
                            data-target="#SUMSYL01"><i class="fas fa-bolt fa-fw"></i>システム資料出力</button>
                    </div>
                </div>
            </diV>
            <div class="caption_box container-fluid">
                <div class="row">
                    <h2 class="caption">入力メニュー</h2>
                    <div class="col-3">
                        <a href="SUMYOS01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>予想番付処理</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMBAN01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>番付入力処理</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMTOR01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>取組入力処理</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMSHO01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>勝負入力処理</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMUKS01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>優勝決定戦入力</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMYUS01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                                class="fas fa-bolt fa-fw"></i>優勝・三賞入力処理</a>
                    </div>
                </diV>
            </div>
        </div>
        <div class="caption_box container-fluid">
            <div class="row">
                <h2 class="caption">マスターテーブル保守</h2>
                <div class="col-3">
                    <a href="SUMMST01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                            class="fas fa-bolt fa-fw"></i>力士マスタ</a>
                </div>
                <div class="col-3">
                    <a href="../admin/app_sumo/mst_heya/" type="button"
                        class="btn btn-outline-primary btn-lg btn-block"><i class="fas fa-bolt fa-fw"></i>部屋マスタ</a>
                </div>
                <div class="col-3">
                    <a href="" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                            class="fas fa-bolt fa-fw"></i>改名力士</a>
                </div>
                <div class="col-3">
                    <a href="../admin" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                            class="fas fa-bolt fa-fw"></i>その他のマスタ</a>
                </div>
                <div class="col-3">
                    <a href="" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                            class="fas fa-bolt fa-fw"></i>電文作成情報</a>
                </div>
                <div class="col-3">
                    <a href="" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                            class="fas fa-bolt fa-fw"></i>副ヘッダ</a>
                </div>
                <div class="col-3">
                    <a href="" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                            class="fas fa-bolt fa-fw"></i>配信コード</a>
                </div>
                <div class="col-3">
                    <a href="" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                            class="fas fa-bolt fa-fw"></i>字解情報</a>
                </div>
                <div class="col-3">
                    <a href="SUMSHI01" type="button" class="btn btn-outline-primary btn-lg btn-block"><i
                            class="fas fa-bolt fa-fw"></i>各種資料</a>
                </div>
            </diV>
        </div>
        <div class="caption_box container-fluid">
            <div class="row">
                <h2 class="caption">システム関連</h2>
                
                <div class="col-3">
                    <button class="btn btn-outline-danger btn-lg btn-block" data-toggle="modal"
                        data-target="#SUMTOT01"><i class="fas fa-laptop fa-fw"></i>ＭＱ送信先</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-danger btn-lg btn-block" data-toggle="modal"
                        data-target="#SUMTOT02"><i class="fas fa-laptop fa-fw"></i>配信モード</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-danger btn-lg btn-block" data-toggle="modal"
                        data-target="#SUMTOT03"><i class="fas fa-laptop fa-fw"></i>テスト送信</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-danger btn-lg btn-block" data-toggle="modal"
                        data-target="#SUMTOT03"><i class="fas fa-laptop fa-fw"></i>手動日替わり指示</button>
                </div>
            </diV>
        </div>
    </div>
    <!--
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <a href="" class="btn menubutton5 btn-block" role="button">ログ出力</a>
        <a href="" class="btn menubutton5 btn-block" role="button">ログアウト</a>
    </nav>
-->
</div>

<!-- ============================================================================================================== -->
<!-- システム資料出力モーダル -->
<!-- ============================================================================================================== -->
<div class="modal fade" id="SUMSYL01" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModaldiv">システム資料出力</h5>
                <button type="button" class="close" data-dismiss="modal" aria-div="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-outline-primary btn-block">幕内力士対戦成績同部屋対戦あり</a>
                    </div>
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-outline-primary btn-block">幕内力士対戦成績同部屋対戦あり</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================================== -->
<!-- マスターテーブル保守用メニューモーダル -->
<!-- ============================================================================================================== -->
<div class="modal fade" id="SUMMSM01" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModaldiv">マスターテーブル保守（作業中）</h5>
                <button type="button" class="close" data-dismiss="modal" aria-div="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <a href="SUMMST01" type="button" class="btn btn-outline-primary btn-block">力士マスタ</a>
                    </div>
                    <div class="col-3">
                        <a href="../admin/app_sumo/mst_heya/" type="button"
                            class="btn btn-outline-primary btn-block">部屋マスタ</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-outline-primary btn-block">●●●</a>
                    </div>
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-outline-primary btn-block">●●●</a>
                    </div>
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-outline-primary btn-block">●●●</a>
                    </div>
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-outline-primary btn-block">●●●</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">
                        <a href="../admin" type="button" class="btn btn-outline-primary btn-block">その他のマスタ（admin画面）</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-danger btn-block">実行</button>  -->
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================================== -->
<!-- 場所・年度切り替えモーダル -->
<!-- ============================================================================================================== -->
<div class="modal fade" id="SUMINT01" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModaldiv">場所・年度切り替え</h5>
                <button type="button" class="close" data-dismiss="modal" aria-div="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        開催マスタを更新<br>●場所前はこの画面から開催マスタの年度、場所、初日年月日、番付発表日を更新●<br>●場所中は運用日設定画面から開催マスタの取組日目、勝負日目を手動更新（自動にする？）●
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div>年度（西暦4桁）を入力<br>場所（場所マスタから選択）<br>初日の年月日を入力<br>番付発表の年月日を入力<br>●モーダルにしない方向でどうでしょう？●</div>
                </div>
                <div class="modal-footer">
                    <a href="SUMINT01" type="button" class="btn btn-danger btn-block">実行</a>
                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================================== -->
<!-- システム運用メニュー１・モーダル -->
<!-- ============================================================================================================== -->
<div class="modal fade" id="SUMTOT01" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModaldiv">ＭＱ送信先</h5>
                <button type="button" class="close" data-dismiss="modal" aria-div="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="newsml_fulltag_haishin1">
                                <label class="custom-control-label" for="newsml_fulltag_haishin1">新聞配信</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="newsml_fulltag_haishin2">
                                <label class="custom-control-label" for="newsml_fulltag_haishin2">ＣＭＳ</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="newsml_fulltag_haishin3">
                                <label class="custom-control-label" for="newsml_fulltag_haishin3">災対ＣＭＳ</label>
                            </div>
                            <hr />
                            <p class="text-dark">(説明)平常時は全てにチェックを入れる。</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="" type="button" class="btn btn-danger">保存</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================================== -->
<!-- システム運用メニュー２・モーダル -->
<!-- ============================================================================================================== -->
<div class="modal fade" id="SUMTOT02" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModaldiv">電文モード</h5>
                <button type="button" class="close" data-dismiss="modal" aria-div="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="col-8">

                            <div class="btn-group--vertical btn-group-toggle" data-toggle="buttons">
                                <div>
                                    <label class="btn btn-outline-primary btn-block active">
                                        <input type="radio" name="denbun" id="option1" autocomplete="off" checked>
                                        本番（通常）
                                    </label>
                                    <label class="btn btn-outline-primary btn-block">
                                        <input type="radio" name="denbun" id="option2" autocomplete="off"> テスト
                                    </label>
                                </div>

                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="newsml_fulltag_haishin2">
                                <label class="custom-control-label" for="newsml_fulltag_haishin2">配信情報部</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="newsml_fulltag_haishin3">
                                <label class="custom-control-label" for="newsml_fulltag_haishin3">内容情報部</label>
                            </div>
                            <hr />
                            <p>（説明）テスト時、配信情報をチェックした場合、IhTestClassがテストになり実際には配信されない。内容情報部をチェックした場合、InTestClassをテストにして配信される
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">保存</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================================== -->
<!-- システム運用メニュー３・モーダル -->
<!-- ============================================================================================================== -->
<div class="modal fade" id="SUMTOT03" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModaldiv">テスト送信</h5>
                <button type="button" class="close" data-dismiss="modal" aria-div="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>開催マスタを更新<br>●場所前はこの画面から開催マスタの年度、場所、初日年月日、番付発表日を更新●<br>●場所中は運用日設定画面から開催マスタの取組日目、勝負日目を手動更新（自動にする？）●</div>
                </div>
                <hr/>
                <div class="row">
                    <div>年度（西暦4桁）を入力<br>場所（場所マスタから選択）<br>初日の年月日を入力<br>番付発表の年月日を入力<br>●モーダルにしない方向でどうでしょう？●</div>
                </div>
                <div class="modal-footer"> -->
<!--                     <button type="button" class="btn btn-danger btn-lg">実行</button> -->
<!--                     <a href="SUMINT01" type="button" class="btn btn-danger btn-lg">実行</a>
                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">閉じる</button>
                </div>
                <div class="container">
                    <div class="col-8">
                            <div>
                                <a href="" type="button" class="btn btn-primary btn-block">テストデータ送信</a>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="newsml_fulltag_haishin1">
                                <label class="custom-control-label" for="newsml_fulltag_haishin1">新聞配信</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="newsml_fulltag_haishin2">
                                <label class="custom-control-label" for="newsml_fulltag_haishin2">ＣＭＳ</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="newsml_fulltag_haishin3">
                                <label class="custom-control-label" for="newsml_fulltag_haishin3">災対ＣＭＳ</label>
                            </div>
                            <hr />
                            <p class="text-dark">(説明)ＭＱ疎通確認にダミーのテスト電文をＭＱ送信する。電文モードのテストとは用途が異なる。</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}