{% extends 'app_sumo/base.html' %}

{% block content %}

<div class="mainmenu">
    <div class="container-fluid row">
        <div class="col-6 gyomu-menu">
            <div class="row justify-content-start menu-block">
                <button class="btn menubuttonbase menubutton btn-block" data-toggle="modal" data-target="#SUMGKD01"><i
                        class="fas fa-laptop fa-fw"></i>業務起動指示選択（業務運用選択を廃止するので、このボタンは廃止。電文送信モード、MQ送信先はシステム関連をまとめた別の括りに移動させる予定）</button>
                <button class="btn menubuttonbase menubutton2 btn-block" data-toggle="modal" data-target="#SUMUNYO01"><i
                        class="fas fa-laptop fa-fw"></i>業務運用選択</button>
            </div>
        </div>
        <div class="col-6 gyomu-menu">
            <div class="menu-block">
                <div class="row">
                    <div class="col-12">
                        <a href="" class="btn menubuttonbase menubutton4 btn-block" role="button"><i
                                class="fas fa-pencil-alt fa-fw"></i>運用ログ表示</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="btn menubuttonbase menubutton3 btn-block" data-toggle="modal"
                            data-target="#SUMSYL01"><i class="fas fa-bolt fa-fw"></i>システム資料出力</button>
                    </div>
                    <div class="col-6">
                        <button class="btn menubuttonbase menubutton3 btn-block" data-toggle="modal"
                            data-target="#SUMTOT01"><i class="fas fa-reply fa-fw"></i>データ送信テスト<br/>（これもシステム関連をまとめたメニューに移動予定）</button>
                    </div>
                </diV>
                <div class="row">
                    <div class="col-6">
                        <button class="btn menubuttonbase menubutton3 btn-block" data-toggle="modal"
                            data-target="#SUMMSM01"><i class="fas fa-bolt fa-fw"></i>マスターテーブル保守</button>
                    </div>
                    <div class="col-6">
                        <button class="btn menubuttonbase menubutton3 btn-block" data-toggle="modal"
                            data-target="#SUMINT01"><i class="fas fa-reply fa-fw"></i>場所・年度切替</button>
                    </div>
                </diV>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <a href="../admin" class="btn menubutton5 btn-block" role="button">管理画面</a>
        <a href="" class="btn menubutton5 btn-block" role="button">ログアウト</a>
    </nav>
</div>
<!-- ============================================================================================================== -->
<!-- 業務起動指示選択モーダル -->
<!-- ============================================================================================================== -->
<div class="modal fade" id="SUMGKD01" tabindex="-1" role="dialog" aria-divledby="myModaldiv">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModaldiv">業務起動指示選択</h5>
                <button type="button" class="close" data-dismiss="modal" aria-div="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <div class="caption_box">
                            <h2 class="caption">電文モード</h2>
                            <div class="btn-group--vertical btn-group-toggle" data-toggle="buttons">
                                <div>
                                    <label class="btn btn-outline-primary btn-block active">
                                        <input type="radio" name="denbun" id="option1" autocomplete="off" checked>
                                        本番（通常）
                                    </label>
                                    <label class="btn btn-outline-primary btn-block">
                                        <input type="radio" name="denbun" id="option2" autocomplete="off"> テスト
                                    </label>
                                </div>
                            </div>
                            <div class="gyomu-chkbox">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">配信情報部</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">内容情報部</label>
                                </div>
                            </div>
                        </div>
                        <div class="caption_box">
                            <h2 class="caption">業務運用選択</h2>
                            <div class="btn-group--vertical btn-group-toggle" data-toggle="buttons">
                                <div>
                                    <label class="btn btn-outline-primary active radio_gyomu">
                                        <input type="radio" name="radio_gyomu" id="radio_gyomu1" autocomplete="off"
                                            checked>通常開始
                                    </label>
                                    <label class="btn btn-outline-primary radio_gyomu disabled">
                                        <input type="radio" name="radio_gyomu" id="radio_gyomu2" autocomplete="off"
                                            disabled>継続開始
                                    </label>

                                    <label class="btn btn-outline-primary radio_gyomu">
                                        <input type="radio" name="radio_gyomu" id="radio_gyomu3" autocomplete="off">休止開始
                                    </label>
                                    <label class="btn btn-outline-primary radio_gyomu disabled">
                                        <input type="radio" name="radio_gyomu" id="radio_gyomu4" autocomplete="off"
                                            disabled>休止解除
                                    </label>
                                    <p></p>
                                    <label class="btn btn-outline-primary btn-block">
                                        <input type="radio" name="radio_gyomu" id="radio_gyomu5" autocomplete="off">終了
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="caption_box">
                            <h2 class="caption">ＭＱ送信先</h2>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="newsml_fulltag_haishin1">
                                <label class="custom-control-label" for="newsml_fulltag_haishin1">新聞配信</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="newsml_fulltag_haishin2">
                                <label class="custom-control-label" for="newsml_fulltag_haishin2">ＣＭＳ</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="newsml_fulltag_haishin3">
                                <label class="custom-control-label" for="newsml_fulltag_haishin3">災対ＣＭＳ</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg">実行</button>
                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================================== -->
<!-- 業務運用選択モーダル -->
<!-- ============================================================================================================== -->
<div class="modal fade" id="SUMUNYO01" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModaldiv">業務運用メニュー</h5>
                <button type="button" class="close" data-dismiss="modal" aria-div="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <a href="SUMUDY01" type="button" class="btn btn-outline-primary btn-lg">運用日付設定</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMJKH01" type="button" class="btn btn-outline-primary btn-lg">状況表示</a>
                    </div>
                    <div class="col-4">
                        <a href="SUMOUT02" type="button" class="btn btn-outline-primary btn-lg">配信・作成・プレビュー・印刷</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">
                        <a href="SUMYOS01" type="button" class="btn btn-outline-primary btn-lg">予想番付処理</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMBAN01" type="button" class="btn btn-outline-primary btn-lg">番付入力処理</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMTOR01" type="button" class="btn btn-outline-primary btn-lg">取組入力処理</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMSHO01" type="button" class="btn btn-outline-primary btn-lg">勝負入力処理</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">
                        <a href="SUMYUS01" type="button" class="btn btn-outline-primary btn-lg">優勝・三賞入力処理</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMOUT01" type="button" class="btn btn-outline-primary btn-lg">コンテンツ出力指示</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMUKS01" type="button" class="btn btn-outline-primary btn-lg">優勝決定戦入力</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">
                        <a href="SUMJOR01" type="button" class="btn btn-outline-primary btn-lg">階級上位力士</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMTKD01" type="button" class="btn btn-outline-primary btn-lg">付出処理</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMSHI01" type="button" class="btn btn-outline-primary btn-lg">資料出力</a>
                    </div>
                    <div class="col-3">
                        <a href="SUMNEW01" type="button" class="btn btn-outline-primary btn-lg">NewsML修正</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-danger btn-lg">実行</button>  -->
                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================================== -->
<!-- システム資料出力モーダル -->
<!-- ============================================================================================================== -->
<div class="modal fade" id="SUMSYL01" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModaldiv">システム資料出力</h5>
                <button type="button" class="close" data-dismiss="modal" aria-div="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-outline-primary btn-lg">幕内力士対戦成績同部屋対戦あり</a>
                    </div>
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-outline-primary btn-lg">幕内力士対戦成績同部屋対戦あり</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg">実行</button>
                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================================== -->
<!-- 電文／データ送信テストモーダル -->
<!-- ============================================================================================================== -->
<div class="modal fade" id="SUMTOT01" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModaldiv">電文／データ送信テスト</h5>
                <button type="button" class="close" data-dismiss="modal" aria-div="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-outline-primary btn-lg">テストデータ送信</a>
                    </div>
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-outline-primary btn-lg">テストデータ送信</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg">実行</button>
                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================================== -->
<!-- マスターテーブル保守用メニューモーダル -->
<!-- ============================================================================================================== -->
<div class="modal fade" id="SUMMSM01" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModaldiv">マスターテーブル保守（作業中）</h5>
                <button type="button" class="close" data-dismiss="modal" aria-div="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <a href="SUMMST01" type="button" class="btn btn-primary">力士マスタ</a>
                    </div>
                    <div class="col-3">
                        <a href="../admin/app_sumo/mst_heya/" type="button" class="btn btn-primary">部屋マスタ</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-primary">●●●</a>
                    </div>
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-primary">●●●</a>
                    </div>
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-primary">●●●</a>
                    </div>
                    <div class="col-3">
                        <a href="" type="button" class="btn btn-primary">●●●</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">
                        <a href="../admin" type="button" class="btn btn-primary">その他のマスタ（admin画面）</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-danger btn-lg">実行</button>  -->
                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================================== -->
<!-- 場所・年度切り替えモーダル -->
<!-- ============================================================================================================== -->
<div class="modal fade" id="SUMINT01" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModaldiv">場所・年度切り替え</h5>
                <button type="button" class="close" data-dismiss="modal" aria-div="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>開催マスタを更新<br>●場所前はこの画面から開催マスタの年度、場所、初日年月日、番付発表日を更新●<br>●場所中は運用日設定画面から開催マスタの取組日目、勝負日目を手動更新（自動にする？）●</div>
                </div>
                <hr/>
                <div class="row">
                    <div>年度（西暦4桁）を入力<br>場所（場所マスタから選択）<br>初日の年月日を入力<br>番付発表の年月日を入力<br>●モーダルにしない方向でどうでしょう？●</div>
                </div>
                <div class="modal-footer">
<!--                     <button type="button" class="btn btn-danger btn-lg">実行</button> -->
                    <a href="SUMINT01" type="button" class="btn btn-danger btn-lg">実行</a>
                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}