{% block body %}
    <table border="1">
      <thead>
        <tr>
          <th>力士１</th>
          <th>勝敗</th>
          <th>決まり手</th>
          <th>勝敗</th>
          <th>力士２</th>
        </tr>
      </thead>
      <tbody>
        {% for match in matchlist %}
          <tr>
            <td>{{ match.player1 }}</td>
            <td>{{ match.outcome1 }}</td>
            <td>{{ match.waza }}</td>
            <td>{{ match.outcome2 }}</td>
            <td>{{ match.player2 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}
