{% extends 'app_sumo/base.html' %}

{% block content %}

<h3>力士マスタメンテナンス画面</h3>

<div style="height:400px; overflow-y:scroll;">
<table class="table table-hover table-sm">
    <thead class="thead-dark">
        <th>code</th>
        <th>力士名</th>
        <th>部屋</th>
        <th>状態</th>
        <th> </th>
        <th> </th>
    </thead>
    {% for rikishi in object_list  %}
    <tr>
        <td>{{ rikishi.Rikishi_code }}</td>
        <td>{{  rikishi.Rikishi_name_kanji_official }}</td>
        <td>{{  rikishi.Heya_code }}</td>
        <td>{{  rikishi.Rikishi_attrib_class }}</td>
        <td><a href="{% url 'rikishiUpdate' pk=rikishi.id %}">更新画面へ</a></td>
        <td><a href="{% url 'rikishiDelete' pk=rikishi.id %}"<button type="button" class="btn btn-danger">削除</button></a></td>
    </tr>
    {% endfor %}
</table>
</div>

<form method="post">
    {% csrf_token %}
    <input name="query" value="{{ request.POST.query }}" type="text">
    <button type="submit">検索する</button>
    {{rikishilist_form.status_chk.0}}
    {{rikishilist_form.status_chk.1}}
</form>

<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <a href="{% url 'rikishiCreate' %}" class="btn menubutton5 btn-block" role="button">新規登録</a>
    <a href="../" class="btn menubutton5 btn-block" role="button">戻る</a>
</nav>

{% endblock %}