{% extends 'app_sumo/base.html' %}

{% block content %}
    
<h1 class="caption">年度・場所切替</h1>

<form action="" method="post">
　　　　{%csrf_token%}

    <div>開催年</div>
    <div>
        <input name="event_date" input type="number"　maxlength="4" value="{{ init.event_date }}">　年
    </div>
    <br>
    <div>場所</div>
    <div>
         <select name="currentbasho">
            {% for i in basho %}
            <option value="{{ i.Basho_code }}" {% if init.currentbasho == i.Basho_code %} selected{% endif %}>
                {{ i.Basho_kanji }}
            </option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div>初日　年月日</div>
    <div>
        <input name="first_date" input type="date" required pattern="\d{4}-\d{2}-\d{2}" value="{{ init.first_date }}">
    </div>
    <br>
    <div>番付発表　年月日</div>
    <div>
        <input name="banzuke_date" input type="date" required pattern="\d{4}-\d{2}-\d{2}" value="{{ init.banzuke_date }}">
    </div>
    <br>
    <br>
    <div>
        <button type="submit" class="btn btn-primary">実行</button>
        <a href="../" type="button" class="btn btn-primary">戻る</a>
    </div>

</form>

{% endblock %}
