{% extends 'app_sumo/base.html' %}

{% block content %}
    
<h1 class="caption">年度・場所切替</h1>

<form action="" method="post">
　　　　{%csrf_token%}
<!--　　　　{{form.as_p}} -->

    <div>開催年</div>
    <div>{{form.Event_date}}　年</div>
    <div>場所</div>
    <div>{{form.CurrentBasho}}</div>
    <div>初日　年月日</div>
    <div>{{form.First_date}}</div>
    <div>番付発表　年月日</div>
    <div>{{form.Banzuke_date}}</div>
    <br>
    <div>
        <button type="submit" class="btn btn-primary">実行</button>
        <a href="../" type="button" class="btn btn-primary">戻る</a>
    </div>

</form>

<h3>懸案：開催年と場所（場所マスタの月数値）を結合してシステム状態テーブルの開催年月に登録したい</h3>
<h3>懸案：カレンダー</h3>

{% endblock %}
