{% extends 'app_sumo/base.html' %}

{% block content %}
<h3 class="caption">状況表示</h3>


<div class="container-fluid row">

    <div class="caption_box container-fluid col-4">
        <h2 class="caption">入力</h2>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>＃</th>
                    <th>予想番付</th>
                    <th>番付</th>
                    <th>取組</th>
                    <th>勝負</th>
                </tr>
            </thead>
            <tr>
                <td>中入り</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>十両</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>幕　下</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>三段目</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>序二段</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>序ノ口</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <p>※入力画面で確定されると〇を表示</p>
    </diV>
    <div class="caption_box container-fluid col-4">
        <div class="row">
            <h2 class="caption">出力１</h2>
            <ul id="myTab" class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a href="#torikumi" id="torikumi-tab" class="nav-link active" role="tab" data-toggle="tab"
                        aria-controls="torikumi" aria-selected="true">取組</a>
                </li>
                <li class="nav-item">
                    <a href="#banzuke" id="banzuke-tab" class="nav-link" role="tab" data-toggle="tab"
                        aria-controls="banzuke" aria-selected="false">番付</a>
                </li>
            </ul>
            <!-- パネル部分 -->
            <div id="myTabContent" class="tab-content mt-5">
                <div id="torikumi" class="tab-pane active" role="tabpanel" aria-labelledby="torikumi-tab">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>電文種</th>
                                <th>配信時間</th>
                                <th>配信本数</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>郷土力士取組</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>幕下以下取組</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>十両取組</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>中入り取組</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div id="banzuke" class="tab-pane" role="tabpanel" aria-labelledby="banzuke-tab">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>電文種</th>
                                <th>配信時間</th>
                                <th>配信本数</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>新番付資料</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>新番付資料・補正</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>新番付</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>郷土力士新番付</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>幕下以下新番付</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </diV>
    </div>

    <div class="caption_box container-fluid col-4">
        <div class="row">
            <h2 class="caption">出力２</h2>
            <ul id="myTab" class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a href="#match1" id="match1-tab" class="nav-link active" role="tab" data-toggle="tab"
                        aria-controls="match1" aria-selected="true">勝負（郷土）</a>
                </li>
                <li class="nav-item">
                    <a href="#match2" id="match2-tab" class="nav-link" role="tab" data-toggle="tab"
                        aria-controls="match2" aria-selected="false">勝負（幕内）</a>
                </li>
                <li class="nav-item">
                    <a href="#other" id="other-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="other"
                        aria-selected="false">その他</a>
                </li>
            </ul>
            <!-- パネル部分 -->
            <div id="myTabContent" class="tab-content mt-5">
                <div id="match1" class="tab-pane active" role="tabpanel" aria-labelledby="match1-tab">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>電文種</th>
                                <th>配信時間</th>
                                <th>配信本数</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>まとめ</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>幕下</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>三段目</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>序二段</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>序ノ口</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div id="match2" class="tab-pane" role="tabpanel" aria-labelledby="match2-tab">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>電文種</th>
                                <th>配信時間</th>
                                <th>配信本数</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>まとめ</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>外国力士</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>幕下</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>三段目</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>序二段</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>序ノ口</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>取組順・・・</td>
                            <td>これは、どう表示？</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div id="other" class="tab-pane" role="tabpanel" aria-labelledby="other-tab">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>電文種</th>
                                <th>配信時間</th>
                                <th>配信本数</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>郷土力士星取表</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>十両星取表</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>幕内星取表</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>優勝三賞受賞力士</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>階級別成績上位力士・幕下</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>階級別成績上位力士・三段目</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>階級別成績上位力士・序二段</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>階級別成績上位力士・序ノ口</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>幕下以下全成績・東・幕下</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>幕下以下全成績・東・三段目</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>幕下以下全成績・東・序二段</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>幕下以下全成績・東・序ノ口</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>幕下以下全成績・西・幕下</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>幕下以下全成績・西・三段目</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>幕下以下全成績・西・序二段</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>幕下以下全成績・西・序ノ口</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<nav class="navbar justify-content-end fixed-bottom navbar-dark bg-dark">
    <a href="../" type="button" class="btn btn-warning btn-lg" role="button">戻る</a>
</nav>

{% endblock %}