{% extends 'app_sumo/base.html' %}

{% block content %}

<form action="" method="POST">
    <div>テンプレートでFormの要素を抜き出す方法</div>
    <div>{{ form.Heya_code }}</div>
    <div>{{ form.Heya_official_kanji }}</div>   
    <div class="field">
        <button type="submit">送信</button>
    </div>    
    {% csrf_token %}
</form>
<form action="{}" method="POST">{% csrf_token %}
    {{ form.as_p }}
    {{ Heya_code }}
    <button type="submit" class="btn">保存</button>
</form>

<div>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
       <button type="submit" class="save btn btn-default">Save</button>
    </form> 
</div>
<a href="../" type="button" class="btn btn-primary">戻る</a>
{% endblock %}
