{% extends 'app_sumo/base.html' %}

{% block content %}
<h1 class="caption">電文／データ出力画面</h1>

    <div>
    <label>種別:</label>
    <!-- {% regroup Group_code by telegram as telegram_list %} -->
    {% for telg in telegram_group %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="telegram_kind" id="{{ 'telegram_radio'|add:telg.Group_code }}" value="{{ telg.Group_code }}">
        <label class="form-check-label" for="{{ 'telegram_kind'|add:telg.Group_code }}">{{ telg.Group_name }}</label>
    </div>
    {% endfor %}
    </div>

    <form method="post" id="telegram" name="telgram">
    {% csrf_token %}
        <div class="form-group">
            <label for="select1">電文種別:</label>
            <select id="select1" name="telegram" class="form-control">
                {% for i in telegram %}
                <option value="{{ i.NewsMLNo }}">{{ i.ContentName }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="select2">指示:</label>
            <select id="select2" name="Input_status" class="form-control">
                <option value="0">編集</option>
                <option value="1">配信</option>
                <option value="2">プレビュー</option>
                <option value="3">印刷</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary valid">実行</button>
        <a href="../" type="button" class="btn btn-primary">戻る</a>
    </form>

{% endblock %}