{% extends 'app_sumo/base.html' %}

{% block content %}
<h3 class="caption">閲覧メニュー</h3>
<h3>現行システムでは、以下の項目をＷＥＢで表示している</h3>

<div class="row">
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">部屋名一覧</a>
    </div>
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">階級別力士一覧</a>
    </div>
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">部屋別力士一覧</a>
    </div>
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">郷土別力士一覧</a>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">外国力士一覧</a>
    </div>
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">個人力士一覧</a>
    </div>
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">幕内通算各種成績</a>
    </div>
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">個人力士情報（全力士）</a>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">幕内力士成績</a>
    </div>
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">階級別力士誕生日一覧</a>
    </div>
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">階級別力士成績一覧</a>
    </div>
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">部屋別力士成績一覧</a>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">郷土別成績一覧</a>
    </div>
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">外国力士成績一覧</a>
    </div>
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">個人力士成績一覧</a>
    </div>
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">個人力士情報（現役）</a>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <a href="" type="button" class="btn btn-outline-primary btn-block">幕内対戦成績</a>
    </div>
</div>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <a href="../" class="btn menubutton5 btn-block" role="button">戻る</a>
</nav>
{% endblock %}
