{% extends 'app_sumo/base.html' %}

{% block content %}
<h1 class="caption">業務運用メニュー</h1>
<a href="SUMUDY01" type="button" class="btn btn-primary btn-lg btn-block">運用日付設定</a>
<a href="SUMYOS01" type="button" class="btn btn-primary btn-lg btn-block">予想番付処理</a>
<a href="SUMBAN01" type="button" class="btn btn-primary btn-lg btn-block">番付入力処理</a>
<a href="SUMUNY01" type="button" class="btn btn-primary btn-lg btn-block">取組入力処理</a>
<a href="SUMUNY01" type="button" class="btn btn-primary btn-lg btn-block">勝負入力処理</a>
<a href="SUMUNY01" type="button" class="btn btn-primary btn-lg btn-block">優勝・三賞入力処理</a>
<a href="SUMUNY01" type="button" class="btn btn-primary btn-lg btn-block">電文/データ出力</a>
<a href="SUMUNY01" type="button" class="btn btn-primary btn-lg btn-block">電文/データ強制出力</a>
<a href="SUMUNY01" type="button" class="btn btn-primary btn-lg btn-block">資料出力</a>
<a href="SUMUNY01" type="button" class="btn btn-primary btn-lg btn-block">階級上位力士</a>
<a href="SUMUNY01" type="button" class="btn btn-primary btn-lg btn-block">状況表示</a>
<a href="SUMUNY01" type="button" class="btn btn-primary btn-lg btn-block">付出処理</a>
<a href="" type="button" class="btn btn-primary btn-lg btn-block">最新状態表示</a>
<a href="../" type="button" class="btn btn-primary btn-lg btn-block">戻る</a>
{% endblock %}
