{% extends 'app_sumo/base.html' %}

{% block content %}
<h1 class="caption">運用日設定</h1>
<form method="post" id="tran_system" name="tran_system">
{% csrf_token %}
<div class="container-fluid row">
    <div class="row">
        <!-- 取組日目 -->
        <div class="col-6">
            <div class="form-group">
                <label for="torikumi">取組日目:</label>
                <select id="torikumi" name="torikumi_nichime" class="form-control">
                    {% for i in nichime %}
                    <option value="{{ i.Nichime_code }}" {% if init.torikumi_nichime == i.Nichime_code %} selected{% endif %}>
                        {{ i.Nichime_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- 勝負日目-->
        <div class="col-6">
            <div class="form-group">
                <label for="shoubu">勝負日目:</label>
                <select id="shoubu" name="match_nichime" class="form-control">
                    {% for j in nichime %}
                    <option value="{{ j.Nichime_code }}" {% if init.match_nichime == j.Nichime_code %} selected{% endif %}>
                        {{ j.Nichime_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
       </div>
    </div>
</div>
<!-- 力士年齢算出基準日-->
<div class="form-inline">
    <input class="form-control" type="text">
    <label class="control-label">年</label>
    <input class="form-control" type="text">
    <label class="control-label">月</label>
    <input class="form-control" type="text">
    <label class="control-label">日</label>
</div>
<!-- 実行-->
<button type="submit" class="btn btn-primary">実行</button>
</form>
<!-- 戻る-->
<a href="../" type="button" class="btn btn-primary btn-lg btn-block">戻る</a>
{% endblock %}