{% extends 'app_sumo/base.html' %}

{% block content %}
<h1 class="caption">予想番付処理</h1>
<!-- 前場所番付 -->
<div class="dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    前場所番付
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
　      <a class="dropdown-item" href="#">リスト１</a>
      <a class="dropdown-item" href="#">リスト２</a>
  </div>
</div>

<div class="container-fluid row">
  <div class="col-6 gyomu-menu caption_box">
      <h1 class="caption">前場所</h1>
      <div class="form-inline">
        <label class="control-label">地位</label>
        <input class="form-control" type="text">
        <label class="control-label">力士名</label>
        <input class="form-control" type="text">
      </div>
  </div> 
  <div class="col-6 gyomu-menu caption_box">
      <h1 class="caption">今場所</h1>
      <div class="form-inline">
        <label class="control-label">地位</label>
        <input class="form-control" type="text">
        <label class="control-label">力士名</label>
        <input class="form-control" type="text">
      </div>
  </div>  
</div>
<!-- 実行-->
<a href="" type="button" class="btn btn-primary btn-lg btn-block">実行</a>
<!-- 戻る-->
<a href="../../SUMYOS01" type="button" class="btn btn-primary btn-lg btn-block">戻る</a>
{% endblock %}
