{% extends 'app_sumo/base.html' %}

<!-- navトップ画像差し替え用の追加css -->
{% block extrastyle %}
<link rel="stylesheet" href='/static/app_sumo/update14.css'>
{% endblock %}

{% block content %}
<h3>新規入力</h3>
<hr>
<form method="POST" class="post-form">{% csrf_token %}
    <div class="row">
        <div class=" col-4">
            {% for field in form %}
            <div class="field update_form row">
                <div class="col-3  align-items-center justify-content-center">
                    {% if field.name == "player1" %}
                    力士１
                    {% elif field.name == "outcome1" %}
                    勝敗
                    {% elif field.name == "waza" %}
                    決まり手
                    {% elif field.name == "outcome2" %}
                    勝敗
                    {% elif field.name == "player2" %}
                    力士２
                    {% else %}
                    {{ field.label_tag }}
                    {% endif %}
                </div>

                <div class="col-6">
                    {% if field.name == "player1" %}
                    <div class="form-inline">
                        {{ field }}
                        <input id="rikishi_label" type="text" readonly class="form-control" value=""
                            style="width: 6em;">
                        <button id="rikishiselect" class="btn btn-info">力士選択</button>
                    </div>
                    {% elif field.name == "player2" %}
                    <div class="form-inline">
                        {{ field }}
                        <input id="rikishi_label2" type="text" readonly class="form-control" value=""
                            style="width: 6em;">
                        <button id="rikishiselect2" class="btn btn-info">力士選択</button>
                    </div>
                    {% elif field.name == "outcome1" %}
                    {{ field }}
                    <div class="btn-group btn-group-toggle btn-block align-items-center justify-content-center"
                        id="winlose1" data-toggle="buttons">
                        <label class="btn btn-outline-danger" id="maru1">
                            <input type="radio" name="winlose1" autocomplete="off" value="1"><i
                                class="far fa-circle fa-fw"></i>
                        </label>
                        <label class="btn btn-outline-success" id="sankaku1">
                            <input type="radio" name="winlose1" autocomplete="off" value="2">▲
                        </label>
                        <label class="btn btn-outline-secondary" id="batsu1">
                            <input type="radio" name="winlose1" autocomplete="off" value="3"><i
                                class="fas fa-times fa-fw"></i>
                        </label>
                    </div>
                    {% elif field.name == "outcome2" %}
                    {{ field }}
                    <div class="btn-group btn-group-toggle btn-block" id="winlose2" data-toggle="buttons">
                        <label class="btn btn-outline-danger" id="maru2">
                            <input type="radio" name="winlose2" autocomplete="off" value="1"><i
                                class="far fa-circle fa-fw"></i>
                        </label>
                        <label class="btn btn-outline-success" id="sankaku2">
                            <input type="radio" name="winlose2" autocomplete="off" value="2">▲
                        </label>
                        <label class="btn btn-outline-secondary" id="batsu2">
                            <input type="radio" name="winlose2" autocomplete="off" value="3"><i
                                class="fas fa-times fa-fw"></i>
                        </label>
                    </div>
                    {% elif field.name == "waza" %}
                    <div class="form-inline">
                        {{ field }}
                        <input id="kimarite_label" type="text" readonly class="form-control" value=""
                            style="width: 6em;">
                        <button id="kimarite_select_btn" class="btn btn-warning">決まり手選択</button>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="save btn btn-primary btn-lg">保存</button>
            <button id="clear" class="btn btn-secondary btn-sm">クリア</button>
        </div>

        <div class="col-7">
            <!-- 力士選択ゾーン1 -->
            <div id="rikishi_sentaku_1" class="gyomu-menu caption_box">
                <h1 class="caption">力士1を選んでください</h1>
                {% for field in form %}
                {% if field.name == "player1" %}

                {% for rikishi in field %}
                <button type="button" class="selected_rikishi btn btn-outline-dark">
                    {{ rikishi }}
                </button>

                {% endfor %}

                {% endif %}
                {% endfor %}
            </div>

            <!-- 決まり手選択ゾーン -->
            <div id="waza_sentaku" class="gyomu-menu caption_box">
                <h1 class="caption">決まり手を選んでください</h1>
                {% for field in form %}
                {% if field.name == "waza" %}

                {% for waza in field %}
                <button type="button" class="selected_waza btn btn-outline-dark">
                    {{ waza }}
                </button>
                {% endfor %}

                {% endif %}
                {% endfor %}
            </div>

            <!-- 力士選択ゾーン2 -->
            <div id="rikishi_sentaku_2" class="gyomu-menu caption_box">
                <h1 class="caption">力士2を選んでください</h1>
                {% for field in form %}
                {% if field.name == "player2" %}

                {% for rikishi in field %}
                <button type="button" class="selected_rikishi2 btn btn-outline-dark">
                    {{ rikishi }}
                </button>

                {% endfor %}

                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</form>



<!-- フッター -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <a href="{% url 'update14' %}" class="btn menubutton5 btn-block" role="button">対戦結果に戻る</a>
    　</nav>

{% endblock %}