<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>オートレースシステム</title>
</head>
<body>

<script>
$(function(){
  $('.dropify').dropify();
})
</script>

<h3>アップロードするよ</h3>
<form action="{% url 'app_autorace:upload1' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">アップロード</button>
</form>
<hr/>
{% for item in data %}
    <div>{{ item.no }}:{{ item.name }}</div>
{% endfor %}

</body>
</html>