<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>オートレースシステム</title>
</head>
<body>

<script>
$(function(){
  $('.dropify').dropify();
})
</script>

<h3>スケジュールをアップロードするよ</h3>
<form action="{% url 'app_autorace:upload2' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">アップロード</button>
</form>

<hr/>
<table border="1">
<tr>
  <td>区分</td>
  <td>データ種別</td>
  <td>送信日</td>
  <td>競走年月日１</td>
  <td>場外発売情報１</td>
  <td>場コード１</td>
  <td>レース数１</td>
  <td>場コード２</td>
  <td>レース数２</td>
  <td>場コード３</td>
  <td>レース数３</td>
  <td>場コード４</td>
  <td>レース数４</td>
  <td>場コード５</td>
  <td>レース数５</td>
  <td>場コード６</td>
  <td>レース数６</td>
  <td>競走年月日２</td>
  <td>場外発売情報２</td>
  <td>場コード１</td>
  <td>レース数１</td>
  <td>場コード２</td>
  <td>レース数２</td>
  <td>場コード３</td>
  <td>レース数３</td>
  <td>場コード４</td>
  <td>レース数４</td>
  <td>場コード５</td>
  <td>レース数５</td>
  <td>場コード６</td>
  <td>レース数６</td>
  <td>競走年月日３</td>
  <td>場外発売情報３</td>
  <td>場コード１</td>
  <td>レース数１</td>
  <td>場コード２</td>
  <td>レース数２</td>
  <td>場コード３</td>
  <td>レース数３</td>
  <td>場コード４</td>
  <td>レース数４</td>
  <td>場コード５</td>
  <td>レース数５</td>
  <td>場コード６</td>
  <td>レース数６</td>
  <td>賞金上位30傑</td>
</tr>
{% for item in data %}
<tr>
    <td>{{ item.kind }}</td>
    <td>{{ item.kindofdata }}</td>
    <td>{{ item.dateofsend }}</td>
    <td>{{ item.dateofrace1 }}</td>
    <td>{{ item.placeofrace1 }}</td>
    <td>{{ item.place_code1_1 }}</td>
    <td>{{ item.numberofrace1_1 }}</td>
    <td>{{ item.place_code1_2 }}</td>
    <td>{{ item.numberofrace1_2 }}</td>
    <td>{{ item.place_code1_3 }}</td>
    <td>{{ item.numberofrace1_3 }}</td>
    <td>{{ item.place_code1_4 }}</td>
    <td>{{ item.numberofrace1_4 }}</td>
    <td>{{ item.place_code1_5 }}</td>
    <td>{{ item.numberofrace1_5 }}</td>
    <td>{{ item.place_code1_6 }}</td>
    <td>{{ item.numberofrace1_6 }}</td>
    <td>{{ item.dateofrace2 }}</td>
    <td>{{ item.placeofrace2 }}</td>
    <td>{{ item.place_code2_1 }}</td>
    <td>{{ item.numberofrace2_1 }}</td>
    <td>{{ item.place_code2_2 }}</td>
    <td>{{ item.numberofrace2_2 }}</td>
    <td>{{ item.place_code2_3 }}</td>
    <td>{{ item.numberofrace2_3 }}</td>
    <td>{{ item.place_code2_4 }}</td>
    <td>{{ item.numberofrace2_4 }}</td>
    <td>{{ item.place_code2_5 }}</td>
    <td>{{ item.numberofrace2_5 }}</td>
    <td>{{ item.place_code2_6 }}</td>
    <td>{{ item.numberofrace2_6 }}</td>
    <td>{{ item.dateofrace3 }}</td>
    <td>{{ item.placeofrace3 }}</td>
    <td>{{ item.place_code3_1 }}</td>
    <td>{{ item.numberofrace3_1 }}</td>
    <td>{{ item.place_code3_2 }}</td>
    <td>{{ item.numberofrace3_2 }}</td>
    <td>{{ item.place_code3_3 }}</td>
    <td>{{ item.numberofrace3_3 }}</td>
    <td>{{ item.place_code3_4 }}</td>
    <td>{{ item.numberofrace3_4 }}</td>
    <td>{{ item.place_code3_5 }}</td>
    <td>{{ item.numberofrace3_5 }}</td>
    <td>{{ item.place_code3_6 }}</td>
    <td>{{ item.numberofrace3_6 }}</td>
    <td>{{ item.prize30 }}</td>
</tr>
{% endfor %}
</table>

</body>
</html>