.page-header {
    background-color:slateblue;
    color: whitesmoke;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.content {
    margin-left: 40px;
    font-family:'Meiryo UI';
}


.navbar{background-color: #f4eaff;}

.titlteimg{margin-right: -0.4em;}

.menubutton {height:150px; width:350px; background-color:#de4307;color:white;font:bold;font-size: 1.5em; border-right: solid 4px #be3702;border-bottom: solid 3px #be3702;}
.menubutton2 {height:150px;  background-color:#f29c2b;color:white;font:bold;font-size: 1.5em;padding-top:2.3em; border-right: solid 4px #cc7d15;border-bottom: solid 3px #cc7d15;}
.menubutton3 {height:150px; width:350px; background-color:#f6d04d;color:white;font:bold;font-size: 1.5em; border-right: solid 4px #f7a943;border-bottom: solid 3px #f7a943}
.menubutton4 {height:70px; background-color:#8bc24c;color:white;font:bold;font-size: 1.2em; border-right: solid 4px #75a340;border-bottom: solid 3px #75a340}
.menubutton5 {height:40px; width:150px; background-color:rgb(255, 221, 25);color:black;font-size: 1em;}

.menubutton:hover {color:white ;opacity: 0.9;}
.menubutton2:hover {color:white ;opacity: 0.9;}
.menubutton3:hover {color:white ;opacity: 0.9;}
.menubutton4:hover {color:white ;opacity: 0.9;}


.nav-link {padding:0.1em;}
.gyomu-menu {padding: 1em; background: none;}
.labeltitle {width: 6em;text-align: center;}
.labeltext {width:6em}

.caption_box{
position: relative;

margin-top: 1em;
padding: 1em 2em;
border: 2px solid rgba(85, 82, 82, 0.473);
border-radius: 10px;
}

.caption_box .caption{  
position: absolute;
top: 0;
left: 0;

font-size: 1.3em;
padding: 0 1em;
margin: 0;
background-color: white;
transform: translateY(-50%) translateX(1em);
}

.gyomu-chkbox{
    padding-left: 11em;
}

.radio_gyomu{
    width: 49%;
}

.modal-header{
    padding: 0.5rem 1rem;
}

.modal-footer{
    padding: 0.5rem 1rem;
}

/* ちょっとレスポンシブ */
/* 通常（PC） */
@media (min-width: 1200px) {
    .mainmenu{padding-top: 220px;}
}
/* iPad横 */
@media (max-width: 1200px) {
    .mainmenu{padding-top: 260px;}
    .labeltitle{text-align: left}
}
/* iPad縦 */
@media (max-width: 992px) {
    #dropdownMenuButton{font-size: 0.75em;}
    .labeltitle{text-align: left}
}
/* それ以下(768px以下)は未対応（たぶんいらない） */

body{
    padding-left: 30px; padding-right: 30px; background-repeat: no-repeat; background-attachment: fixed;background-position: 100% 95%;background-size: 300px 300px;
}

