<div class="col-5 reset_padding">
    <div class="container-fluid row reset_padding reset_margin">
        <div class="col-6 jou-newsml">
            <table class="table table-sm table-bordered jou-newsml_table">
                <tbody>
                    <tr>
                        <td class="table-dark">成績表A</td>
                        <td>○</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 jou-newsml">
            <table class="table table-sm table-bordered jou-newsml_table">
                <tbody>
                    <tr>
                        <td class="table-dark">通信文A</td>
                        <td>○</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>