{% extends 'app_ckeiba/base.html' %}

{% block content %}

<div style="margin-top: 10px;" class="container">
    <h2>{{title}}更新画面</h2>
    <h5>★★★もうちょっとわかりやすい見栄えにあとで修正します(4/30 牧村)★★★</h5>
    <form method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-3">
                <h3>出走表</h3>
                {{ form.management_form }}
                <table>
                {{ form.as_table }}
                </table>
            </div>
            <div class="col-3">
                <h3>出走表各馬</h3>
                {{ formset.management_form }}
                <table>
                {{ formset.as_table }}
                </table>
            </div>
            <div class="col-3">
                <h3>各馬過去５成績</h3>
                {% for kako5sou in formset_kako5sou %}
                    <h5>馬{{forloop.counter}}</h5>
                    {{ kako5sou.management_form }}
                    {{ kako5sou.as_p }}
                {% endfor %}
            </div>
            <div class="col-3">
                <h3>各馬過去累計成績</h3>
                {% for ruikei in formset_ruikei %}
                <h5>馬{{forloop.counter}}</h5>
                {{ ruikei.management_form }}
                {{ ruikei.as_p }}
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">更新</button></br>
        <a href="{% url 'app_ckeiba:index'%}" class="btn" role="button">戻る</a>
    </form>
</div>

{% endblock %}